<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="root-menu" label="Openbox 3">
		<separator label="Applications"/>
		<item label="firefox">
			<action name="Execute">
				<execute>firefox</execute>
			</action>
		</item>
		<item label="thunderbird">
			<action name="Execute">
				<execute>thunderbird</execute>
			</action>
		</item>
		<item label="hexchat">
			<action name="Execute">
				<execute>hexchat</execute>
			</action>
		</item>
		<separator/>
		<item label="uxterm">
			<action name="Execute">
				<execute>uxterm</execute>
			</action>
		</item>
		<item label="pcmanfm">
			<action name="Execute">
				<execute>pcmanfm</execute>
			</action>
		</item>
		<separator/>
		<item label="obconf">
			<action name="Execute">
				<execute>obconf</execute>
			</action>
		</item>
		<item label="obmenu">
			<action name="Execute">
				<execute>obmenu</execute>
			</action>
		</item>
		<separator/>
		<item label="Log Out">
			<action name="Exit">
				<prompt>yes</prompt>
			</action>
		</item>
	</menu>
</openbox_menu>
